body{
    margin: 0;
}

.menu{
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    z-index: 2;
}


li{
    max-width: 100px;
    padding: 5px;
    justify-content: center;
    text-align: center;
}

li:hover{
    background-color: blue;
}

img{
    width: 100px;
}

.showVideo{
    width: 100%;
}

.content{
    background-color: darkgreen;
    height: 100vh;
    position: relative;
}

.react{
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    overflow:scroll; 
    height: 80%;
}

@media (min-width: 500px){
    .showVideo{
        width: 75%;
        height: 90%;
        position: absolute;
    }

    .react{
        height: 100vh;
        width: 25%;
        position: absolute;
        right: 0;
    }
}


